.img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.title {
  color: black;
  font-size: 20px;
  display: flex;
  font-weight: bold;
  word-break: break-word;
  flex-wrap: wrap;
}
.subtitle {
  color: black;
  display: flex;
  text-wrap: wrap;
  word-break: break-word;
  max-width: 400px;
  text-align: center;
}
.test {
  max-width: 768px;
  flex: 1;
  padding: 20px;
}
