.button {
  background: linear-gradient(
    90deg,
    rgba(0, 11, 113, 1) 0%,
    rgba(0, 0, 149, 1) 50%,
    rgba(0, 68, 255, 1) 100%
  );
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}
