.navbar {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  gap: var(--spacing-huge);
}
/* @media (max-width: 500px) {
  .navbar {
    justify-content: start;
  }
} */

.logo {
  width: 60px;
}

.searchbar {
  display: flex;
  align-items: center;
  border: solid 1px #fec683;
  border-radius: 10px;
  padding: var(--spacing-small) var(--spacing-normal);
  flex: 1;
}

.inputsearch {
  margin-right: var(--spacing-smaller);
  flex: 1;
  text-decoration: none;
  outline: none;
}
@media (max-width: 500px) {
  .inputsearch {
    display: none;
  }
}

.addbutton {
  font-size: 16px;
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  background-color: #fec683;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .addbutton {
    font-size: 14px;
    padding: var(--spacing-smaller) var(--spacing-normal);
    display: none;
  }
}

.plusbutton {
  display: none;
}
@media (max-width: 500px) {
  .plusbutton {
    display: flex;
    width: 30px;
  }
}
